<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calories counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <nav class="navbar navbar-dark bg-success">
        <a class="navbar-brand" href="#">
            Calories Tracker
        </a>
        <a class="navbar-brand" href="#">
            About
        </a>
    </nav>

    <img style="width:35em" src="{% static 'images/fon_two.jpg' %}" class="rounded float-left" alt="">

</head>
<body>
<h4>
    <blockquote class="blockquote text-center">
        <p class="mb-0">Choose your meal here!</p>

    </blockquote>

</h4>

<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Select food</label>
   <select name="food" class="i-can-add-my-own-attrs-now" id="id_food">
        {% for _, name in form.food.field.choices %}
        <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
    </select>
  <div class="custom-control custom-checkbox my-1 mr-sm-2">


  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>
{#<div class="card">#}
{##}
{##}
{#    <div class="card-body">#}
{##}
{##}
{#        <form method="POST" action="">#}
{#            {% csrf_token %}#}
{##}
{##}
{##}
{#            <div class="md-form">#}
{#                <i class="fa fa-user prefix grey-text"></i>#}
{#                <input type="text" id="materialFormCardNameEx" class="form-control">#}
{#                <label for="materialFormCardNameEx" class="font-weight-light">First name</label>#}
{#            </div>#}
{##}
{##}
{#            <div class="md-form">#}
{#                <i class="fa fa-envelope prefix grey-text"></i>#}
{#                <input type="email" id="materialFormCardEmailEx" class="form-control">#}
{#                <label for="materialFormCardEmailEx" class="font-weight-light">Last name</label>#}
{#            </div>#}
{##}
{##}
{#            <div class="md-form">#}
{#                <i class="fa fa-exclamation-triangle prefix grey-text"></i>#}
{#                <input type="email" id="materialFormCardConfirmEx" class="form-control">#}
{#                <label for="materialFormCardConfirmEx" class="font-weight-light">kg</label>#}
{#            </div>#}
{##}
{##}
{#            <div class="text-center py-4 mt-3">#}
{#                <button class="btn btn-success" type="submit">Register</button>#}
{#            </div>#}
{#        </form>#}
{##}
{##}
{#    </div>#}
{##}
{##}
{#</div>#}

</body>
</html>