<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calories counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <nav class="navbar navbar-dark bg-success">
        <a class="navbar-brand" href="#">
            Calories Tracker
        </a>
        <a class="navbar-brand" href="#">
            About
        </a>
    </nav>

    <img style="width:35em" src="{% static 'images/fon_two.jpg' %}" class="rounded float-left" alt="">

</head>
<body>

<blockquote class="blockquote text-center">
    <p class="mb-0">Choose your meal here!</p>

</blockquote>




<form class="form-inline" method="POST" action="">
    {% csrf_token %}
    {{ form }}

     <button class="btn btn-success" type="submit">Submit form</button>
{#    <input type="submit" value="Select">#}



</form>
{#    <div class="card" style="width: 20rem;">#}
{#        <img class="card-img-top" src="https://thumbs.dreamstime.com/z/cucumber-white-8624699.jpg" alt="Card image cap">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">{{ form.food.name }}</h5>#}
{#            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
{#                card's content.</p>#}
{#        </div>#}
{#        <ul class="list-group list-group-flush">#}
{#            <li class="list-group-item">Cras justo odio</li>#}
{#            <li class="list-group-item">Dapibus ac facilisis in</li>#}
{#            <li class="list-group-item">Vestibulum at eros</li>#}
{#        </ul>#}
{#        <div class="card-body">#}
{#            <a href="#" class="card-link">Card link</a>#}
{#            <a href="#" class="card-link">Another link</a>#}
{#        </div>#}
{##}
{#    </div>#}


</body>
</html>


{#action="{% url 'customer-food' %}"#}